{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
    <div>
        <ul class="list">
            <li class="nav-item">
                <a class="nav-link-1" href="{% url 'all_listings' %}">All Listings</a>
                <a class="nav-link-1" href="{% url 'closed_listings' %}">Closed Listings</a>
            </li>
        </ul>
    </div>

    <div class="">

        <h2>Active Listings</h2>

        <p id=""> Browse items currently open for bidding </p>

        <div>
            <form action="{% url 'index' %}" method="get">
                <label for="category">Filter by Category:</label>

                <select name="category" id="category">
                    <option value="">All Categories</option>

                    {% for category in categories %}
                        <option value="{{ category.name }}" {% if request.GET.category == category.name %} selected {% endif %}>{{ category }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Filter" class="filter-btn">
            </form>
        </div>
        {% for listing in listings %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ listing.image_url }}" class="img-fluid rounded-start" alt="{{ listing.title }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.title }}</h5>
                            <p class="card-text">Price: ${{ listing.current_price|intcomma }}</p>
                            <p class="card-text">Owner: {{listing.owner}}</p>
                            <p class="card-text">{{ listing.description }}</p>
                            <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">Details</a>
                            <p class="card-text"><small class="text-body-secondary">Created {{ listing.created_at|timesince }} ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No active listings. click <a href="{% url 'create' %}">here</a> to add one </p>

        {% endfor %}

    </div>

{% endblock %}
